.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.option {
    display: flex;
    gap: 10px;
}

.grpselect select {
    width: 300px;
    height: 30px;
}